.containerService {
  display: flex;
  justify-content: "center";
  align-items: "center";
  flex-wrap: wrap;
  border: "2px solid green";
  gap: 4rem;
  align-items: center;
  padding: 20px;
}

.list-item {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.list-item.active {
  background-color: #555;
}

.list-item:hover {
  background-color: #555;
}
